
#container{font-family: helvetica;
    color: blue;
    font-size: 3vw;
    left: 3%;

}

#head{font-family: helvetica;
    color: blue;
    font-size: 4vw;
    position: relative;
    left:3%;}

    ol{ list-style-type:none;
    left: 3%;}