body{background-color: rgb(8, 255, 8);
  overflow: hidden;
}

#id{position: absolute;
top:30%;
left:28%;
animation: shake 2s infinite;
animation-direction: alternate;
}
   
#sparkle{position: absolute;
top: 70vh;
left:60%;}

#sparkle2{position: absolute;
    top: 15vh;
    left:10%;}

@keyframes shake {
    0% {
      transform: skewY(20deg);
    }

    
    100% {
      transform: skewY(-20deg);
    }
  }
     
  #one{position: absolute;
top:20vh;
left: 16vw;
transform: rotate(10deg)
}


