body{
  overflow: hidden;
  position: fixed; 
}

body.modal-open {
  
  overflow: hidden;
  position: fixed;
}

/*canvas{height:100vh;
width:100vw;}*/

a:link {
    color: blue; 
    background-color: transparent; 
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    position: absolute;
    top: 93%;
    left:33%;
  }

  a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;}

    p {color: blue;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 200%;
      margin: 14%;
      position: relative;
    top: 350px;}
      
      div.hidden
      {
         display: none
      }


  .circle {
    width: 115px;
    height: 115px;
    border-style: solid;
    border-color: blue;
    border-radius: 50%;
    position: relative;
    margin: 3.5%;
    float: left;
    top: 70px;
  }

  .numbers{ font-size: 450%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
position :relative;
text-align: center;
top:14%;
}

#levels{ color: blue; 
  background-color: transparent; 
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100%;
  position: absolute;
  top: 94%;
  left:40%;}

  #fingers{position: absolute;
  top: 25%;
  left:3.5%;}

  #dot{width: 115px;
    height: 115px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 48%;
  left: 44%;
}

  .level1promt{ 
    background-color: transparent; 
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
    position: absolute;
    top: 93%;
    left:22%;
    display: none;}
  
.level2promt{background-color: transparent; 
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 250%;
  position: absolute;
  top: 93%;
  left:10%;
  display: none;}

  .level3promt{background-color: transparent; 
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
    position: absolute;
    top: 93%;
    left:15%;
    display: none;}

    .level4promt{background-color: transparent; 
      text-decoration: none;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 100%;
      position: absolute;
      top: 93%;
      left:30%;
      display: none;}

  