#leftside{background-color: black;
 height: 100%;
width: 50%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
left: 0;
}

#rightside{background-color: rgb(255, 255, 148);
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
}

#simple{
    width:30vw;
    height: 44vh;
    position: absolute;
    animation: bounce 1.9s infinite alternate;
  -webkit-animation: bounce 1.9s infinite alternate;
left:40%;
z-index: 2;
}

#icu{
    width:30vw;
    height: 60vh;
    animation: bounce 1.4s infinite alternate;
  -webkit-animation: bounce 1.4s infinite alternate;
  position: absolute;
left:2%;
top:5%;
}

#loop{
    width:30vw;
    animation: bounce 1.5s infinite alternate;
  -webkit-animation: bounce 1.5s infinite alternate;
  position: absolute;
left:38%;
top:37%;
}

#responsive{
    width:30vw;
    height: 45vh;
    animation: bounce 2.3s infinite alternate;
  -webkit-animation: bounce 2.3s infinite alternate;
  position: absolute;
left:2%;
top:50%;
}

#relative{
    width:30vw;
    height: 30vh;
    animation: bounce 1.8s infinite alternate;
  -webkit-animation: bounce 1.8s infinite alternate;
  position: absolute;
left:20%;
top:76%;
}

#chain{
    width:30vw;
    height: 30vh;
    animation: bounce 1.2s infinite alternate;
  -webkit-animation: bounce 1.2s infinite alternate;
  position: absolute;
left:60%;
top:60%;
}
#weaving{
  width:20vw;
  height: 70vh;
  animation: bounce 1s infinite alternate;
-webkit-animation: bounce 1s infinite alternate;
position: absolute;
left:70%;
top:30%;
}

#cry{
 
  animation: bounce 1s infinite alternate;
-webkit-animation: bounce 1s infinite alternate;
position: absolute;
left:20%;
top:70%;
}

#tracy{
  width:20vw;
 
  animation: bounce 1.2s infinite alternate;
-webkit-animation: bounce 1.2s infinite alternate;
position: absolute;
left:60%;
top:90%;
}

#d1{
  width:20vw;
 
  animation: bounce 1.2s infinite alternate;
-webkit-animation: bounce 1.2s infinite alternate;
position: absolute;
left:35%;
top:100%;
}

#frame{position: relative;
   top: 30%;
    display: block;
    margin:auto;
   width:40vw;
   height: 40vh;

}

a{text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: rgb(115, 181, 232);}

#link{position: fixed;
top:80%;
left:54%;
font-size: 200%;}




@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
