body{background-color: black;}



#eye1{
     position:absolute;
     top: 30%;
     left: 10%;
    width: 30vw;
    height: 28vh;
    background: white;
    border-radius: 30vw / 28vh;
    float: left;
    overflow-y: hidden;
  }

  #eye2{
    position: absolute;
    top:30%;
    left: 60%;
   width: 30%;
   height: 28vh;
   background: white;
   border-radius: 30vw / 28vh;
   overflow-y: hidden;
 }

 #iris1{
    width: 15vw;
    height: 30vh;
    background: red;
    border-radius: 50%;
    animation-name: moving;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
  }

  #iris2{
    width: 15vw;
    height: 30vh;
    background: red;
    border-radius: 50%;
    animation-name: moving;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
  }



  @keyframes  moving{
    0%{
        transform: translate(10,0);
    }



    100%{transform: translate(200px,0)}
}


@keyframes  moving{
    0%{
        transform: translate(10,0);
    }


    0%{
        transform: translate(50,0);
    }

    0%{
        transform: translate(100,0);
    }

    0%{
        transform: translate(150,0);
    }


    100%{transform: translate(200px,0)}
}